<div style="color: #04F9CC;text-align:left;line-height:20px">${text} 日均</div>
<div
  style="color:#88A8C5;text-align:left;font-size:10px;background:rgba(11,36,69,0.6);padding:5px;border-radius:5px;margin-top:5px;">
  <div style="display:flex;align-items: center;">
    <div style="margin-right:10px;width:10px;height:1px;border:1px solid #1089E7;background:#1089E7"></div>
    <div>${showHtm[0].name}</div>
    <div style="color:#04F9CC;text-align:right;display:inline-block;margin-left:15px">${showHtm[0].value.toFixed(1) +
      "*10¹mg/L"}</div>
  </div>
  <div style="display:flex;align-items: center;">
    <div style="margin-right:10px;width:10px;height:1px;border:1px solid #FE7B43;background:#FE7B43"></div>
    <div>${showHtm[1].name}</div>
    <div style="color:#04F9CC;text-align:right;display:inline-block;margin-left:15px">${showHtm[1].value.toFixed(1) +
      "mg/L"}</div>
  </div>
  <div style="display:flex;align-items: center;">
    <div style="margin-right:10px;width:10px;height:1px;border:1px solid #12FFEE;background:#12FFEE"></div>
    <div>${showHtm[2].name}</div>
    <div style="color:#04F9CC;text-align:right;display:inline-block;margin-left:15px">${showHtm[2].value.toFixed(1)}
    </div>
  </div>
  <div style="display:flex;align-items: center;">
    <div style="margin-right:10px;width:10px;height:1px;border:1px solid #AB90DF;background:#AB90DF"></div>
    <div>${showHtm[3].name}</div>
    <div style="color:#04F9CC;text-align:right;display:inline-block;margin-left:15px">${showHtm[3].value.toFixed(1) +
      "/L"}</div>
  </div>
</div>
</div>