@import "~antd/dist/antd.css";

.header-bg {
    background: url("/images/topbg.png") no-repeat center;
    background-size: contain;
    height: 92px;
    line-height: 92px;
}
.head-left,
.head-right {
    position: relative;
    width: 25%;
    min-width: 350px;
    padding: 20px 0 12px 0;
    color: #04b2f0;
    opacity:0.9;
}
.head-right{
    margin-left: auto;
}
.head-left::before {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(96, 118, 173, 0.5);
    transform: perspective(0.5em) rotateX(1deg);
    transform-origin: bottom left;
}
.head-right::before {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(96, 118, 173, 0.5);
    transform: perspective(0.5em) rotateX(1deg);
    transform-origin: bottom right;
}
