@import "~antd/dist/antd.css";

.header-bg {
    background: url("/images/topbg.png") no-repeat center;
    background-size: contain;
    height: 92px;
    line-height: 92px;
}

.head-left,
.head-right {
    position: relative;
    width: 25%;
    min-width: 350px;
    padding: 20px 0 12px 0;
    color: #04b2f0;
    opacity: 0.9;
}

.head-right {
    margin-left: auto;
}

.head-left::before {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(96, 118, 173, 0.5);
    transform: perspective(0.5em) rotateX(1deg);
    transform-origin: bottom left;
}

.head-right::before {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(96, 118, 173, 0.5);
    transform: perspective(0.5em) rotateX(1deg);
    transform-origin: bottom right;
}

.screenTable {
    width: 25%;
    min-width: 350px;
    border: 1px solid #2e3b61;
}

.screenCenterTable {
    width: 100%;
    min-width: 350px;
    border: 1px solid #2e3b61;
}


.screen-page .tableTitle {
    color: #55b7fe;
    padding: 9px 0px;
    background-image: url("/images/title.png");
    font-weight: 700;
}

.topleft .tabtitle, .topright .tabtitle {
    line-height: 40px;
    display: flex;
    justify-content: space-around;
    color: #46c6f3;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 118, 180, 0.3);
    text-align: center;
}

.topleft .tabtitle > div, .topright .tabtitle > div {
    flex: 1;
}

.topleft .box, .topright .box {
    padding: 0px 10px;
}

.topleft .listitem, .topright .listitem {
    color: #88a8c5;
    font-size: 12px;
    text-align: center;
    line-height: 35px;
}

.sliderDotButton {
    width:7px;
    height:7px;
    background:rgba(4,249,204,1);
    border-radius:50%;
    margin: 15px 9px;
    opacity: 0.7;
}

.centerBottom {
    height: calc(50vh - 136px);
    margin-top: 10px;
    border: 1px solid #2e3b61;
}
.title {
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    background: url("/images/title.png") no-repeat;
    background-size: cover;
    font-weight: 700;
    text-align: center;
}
.t-b-con {
    width: 100px;
    color: #55B7FE;
    cursor: pointer;
    display: inline-block;
}
.t-b-con.active{
    background: rgba(44,80,129,0.6);
    color: #04F9CC;
}
.t-b-con img{
    float:left;
    margin:12px 0 0 10px;
    display: inline-block;
}

.title ul li {
    list-style-type: none;
    display: inline-block;
}
