@import "~antd/dist/antd.css";

.header-bg {
    background: url("/images/topbg.png") no-repeat center;
    background-size: contain;
    height: 92px;
    line-height: 92px;
}

.head-left,
.head-right {
    position: relative;
    width: 25%;
    min-width: 350px;
    padding: 20px 0 12px 0;
    color: #04b2f0;
    opacity: 0.9;
}

.head-right {
    margin-left: auto;
}

.head-left::before {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(96, 118, 173, 0.5);
    transform: perspective(0.5em) rotateX(1deg);
    transform-origin: bottom left;
}

.head-right::before {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(96, 118, 173, 0.5);
    transform: perspective(0.5em) rotateX(1deg);
    transform-origin: bottom right;
}

.topleft {
    width: 25%;
    min-width: 350px;
    border: 1px solid #2e3b61;
    border-radius: 5px;
}

.topright {
    width: 25%;
    min-width: 350px;
    border: 1px solid #2e3b61;
    border-radius: 5px;
}


.topleft .title, .topright .title {
    color: #55b7fe;
    padding: 9px 0px;
    background-image: url("/images/title.png");
    font-weight: 700;
}

.topleft .tabtitle, .topright .tabtitle {
    line-height: 40px;
    display: flex;
    justify-content: space-around;
    color: #46c6f3;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 118, 180, 0.3);
    text-align: center;
}

.topleft .tabtitle > div, .topright .tabtitle > div {
    flex: 1;
}

.topleft .box, .topright .box {
    padding: 0px 10px;
}

.topleft .listitem, .topright .listitem {
    color: #88a8c5;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
}

.sliderDotButton {
    width:9px;
    height:9px;
    background:rgba(4,249,204,1);
    border-radius:50%;
    margin: 15px 9px;
    opacity: 0.7;
}
