@import "~antd/dist/antd.css";
@import "./variable.scss";

.primary-button-text-dark {
  color: $primary-button-text-dark;
}

.primary-text-dark {
  color: $primary-text-dark;
}

.primary-text-color {
  color: $primary-text-color;
}

.screen-text-color-2 {
  color: $screen-text-color-2;
}

.primary-red {
  color: $primary-red;
}

svg {
  vertical-align: baseline !important;
}

.screen-background {
  background: $screen-background;
}

.vertical-middle {
  margin: auto 0;
}

.ant-layout-header {
  border-bottom: 1px solid rgb(0, 177, 255);
}

.screenTitleGradient {
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#dff1ff), to($screen-primary-text));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.screenPage {
  background: #1e2538;
  font-family: "Microsoft Yahei", sans-serif;

  .groundImg {
    position: absolute;
    object-fit: contain;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .header-bg {
    background: url("/images/topbg.png") no-repeat center;
    background-size: contain;
    height: 105px;
    line-height: 92px;

    .settingIcon {
      line-height: 92px;
    }
  }

  .title {
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    background: url("/images/title.png") no-repeat;
    background-size: cover;
    font-weight: 700;
    text-align: center;
  }

  .head-left,
  .head-right {
    position: relative;
    width: 100%;
    padding: 20px 12px 12px 0;
    color: #04b2f0;
    opacity: 0.9;
    height: 54px;
  }

  .head-right {
    margin-left: auto;
  }

  .head-left::before {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(96, 118, 173, 0.5);
    transform: perspective(0.5em) rotateX(1deg);
    transform-origin: bottom left;
  }

  .head-right::before {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(96, 118, 173, 0.5);
    transform: perspective(0.5em) rotateX(1deg);
    transform-origin: bottom right;
  }

  .screenTable {
    width: 100%;
    //min-width: 320px;
    border: 1px solid #2e3b61;
  }

  .screenCenterTable {
    width: 100%;
    min-width: 350px;
    border: 1px solid #2e3b61;
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
      height: 44px;
      line-height: 44px;
    }
    .ant-tabs-bar {
      font-size: 18px;
      height: 44px;
      line-height: 44px;
      background: url("/images/title.png") center;
      background-size: contain;
      border-bottom: 0;
    }
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
      background: transparent;
      color: #55b7fe;
      border: none;
      border-radius: 0;
      height: 44px;
      line-height: 44px;
      &.ant-tabs-tab-active {
        background: #1082da;
        color: #04f9cc;
        height: 44px;
      }
    }
    .ant-tabs-tab-prev,
    .ant-tabs-tab-next {
      color: #55b7fe;
    }
    .ant-tabs-tab-btn-disabled {
      color: gray;
    }
  }

  .topLeft,
  .topRight {
    .tabTitle {
      line-height: 40px;
      display: flex;
      justify-content: space-around;
      color: #46c6f3;
      font-size: 14px;
      border-bottom: 1px solid rgba(0, 118, 180, 0.3);
      text-align: center;

      & > div {
        flex: 1;
      }
    }

    .box {
      padding: 0px 10px;
    }
  }

  .tableTitle {
    color: $screen-text-color-2;
    padding: 9px 0px;
    background-image: url("/images/title.png");
    font-weight: 700;
  }
}

.tabTitle {
  line-height: 40px;
  display: flex;
  justify-content: space-around;
  color: #46c6f3;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 118, 180, 0.3);
  text-align: center;

  & > div {
    flex: 1;
  }
}

.listItem {
  color: #88a8c5;
  font-size: 12px;
  text-align: center;
  line-height: 35px;

  & > div {
    @extend %text-ellipsis;
  }
}

.sliderDotButton {
  width: 7px;
  height: 7px;
  background: #1C5067;
  border-radius: 50%;
  margin: 2px 9px;
  opacity: 0.7;

  &.carousel__dot--selected {
    background: #04F9CC;
  }
}

.centerBottom {
  height: calc(50vh - 136px);
  margin-top: 10px;
  border: 1px solid #2e3b61;
}

.t-b-con {
  width: 100px;
  color: $screen-text-color-2;
  cursor: pointer;
  display: inline-block;
}

.t-b-con.active {
  background: #1082da;
  color: #04f9cc;
}

.t-b-con img {
  float: left;
  margin: 12px 0 0 10px;
  display: inline-block;
}

.title ul li {
  list-style-type: none;
  display: inline-block;
}

.corner {
  width: 10px;
  height: 10px;
  position: absolute;

  &.cornerTl {
    border-top: 4px solid $primary-text-color;
    border-left: 4px solid $primary-text-color;
    left: -2px;
    top: -2px;
  }

  &.cornerTr {
    border-top: 4px solid $primary-text-color;
    border-right: 4px solid $primary-text-color;
    right: -2px;
    top: -2px;
  }

  &.cornerBl {
    border-bottom: 4px solid $primary-text-color;
    border-left: 4px solid $primary-text-color;
    left: -2px;
    bottom: -2px;
  }

  &.cornerBr {
    border-bottom: 4px solid $primary-text-color;
    right: -2px;
    bottom: -2px;
    border-right: 4px solid $primary-text-color;
  }
}

.parkScreen {
  background: #1e2538;

  .area {
    font-size: 14px;
    color: #04b2f0;
  }

  .parkScreenTop {
    width: 100%;
    background: url("/images/bg_screen_park_head.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    text-align: center;

    & > div {
      margin: auto 0;
    }

    .head-left {
      width: 22%;
      color: $primary-text-color;
    }

    .head-center {
      width: 66%;
    }

    .head-right {
      width: 22%;
      color: $primary-text-color;

      & > div {
        margin: auto 0;
      }

      .weather {
        .weather-img {
          margin: auto 0;
        }

        .wr {
          color: #f7994d;
        }
      }
    }
  }

  .screenContent {
    .leftContent,
    .rightContent {
      border: 1px solid #1082da;
      position: relative;
      height: 100%;
      overflow: hidden;
      box-sizing: border-box;
    }

    .tableTitle {
      color: $primary-white;
      background: url("/images/75757.png") no-repeat bottom;
      background-size: contain;
    }
  }

  .mapExplain {
    background: #172046;
    //opacity:0.5;
  }
}

.screenFormStyle {
  .ant-form {
    .ant-form-item {
      margin-bottom: 15px;
    }

    .ant-form-item-label {
      text-align: left;

      & > label {
        color: $screen-primary-text;
      }
    }

    button {
      background: rgba(0, 120, 255, 0.66);
      border: 1px solid rgba(0, 174, 255, 1);
      border-radius: 4px;
      padding-left: 29px;
      padding-right: 29px;
      height: 36px;
      line-height: 36px;
    }
  }

  .ant-select-selection {
    background: rgba(55, 105, 239, 0.2);
    border: 1px solid rgba(106, 166, 221, 1);
    border-radius: 4px;
    color: $primary-white;
  }

  .ant-select-arrow {
    color: $screen-primary-text;
  }

  .ant-form-item-label > label::after {
    content: "";
  }
}

.mapmonitor-page,
.dynamicsource-page {
  .ant-switch {
    border-color: white;
  }

  .ant-radio-wrapper {
    span {
      color: white;
    }
  }

  .ant-form-item-label > label {
    color: white;
  }

  .ant-form-item {
    margin-bottom: 10px;
  }

  .ant-tabs.ant-tabs-card {
    > .ant-tabs-bar {
      border-color: #1e4465;

      .anticon {
        color: #1e4465;
      }
    }

    > .ant-tabs-bar .ant-tabs-tab {
      border-color: transparent;
      background: transparent;
      color: #1e4465;

      i {
        font-size: 24px;
        margin: 0 4px;
      }
    }

    > .ant-tabs-bar .ant-tabs-tab-active {
      border-color: #4abbec;
      background: #4abbec;
      color: white;

      .anticon {
        color: white;
      }
    }
  }

  .number {
    position: absolute;
    bottom: 24px;
    left: 10px;
    text-align: center;
    font-size: 10px;
    color: white;
    width: 20px;
  }

  .monitor-table {
    tr:hover td {
      background: transparent !important;
    }

    .ant-table-thead > tr > th {
      background: transparent;
      color: white;
      border-bottom: 2px solid #1bb8a1;
    }

    .ant-table-tbody > tr > td {
      border-color: #303747;
      color: white;
      padding: 8px 16px;
    }
  }

  .monitor-row-panel {
    position: fixed;
    right: 0;
    top: 60px;
    height: 100vh;
    background: rgba(16, 24, 43, 0.8);
    width: 25vw;
    z-index: 1;
  }

  .stat-panel {
    background: rgba(32, 37, 60, 0.8);
  }

  .ant-input,
  .ant-select-selection,
  .ant-calendar-picker,
  .ant-radio-button-wrapper {
    background-color: #061630;
    color: white;

    i {
      color: #d9d9d9;
    }
  }

  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background-color: #0dacf2;
    border-color: #0dacf2;
  }

  .ant-btn-primary {
    background-color: #0dacf2;
    border-color: #0dacf2;
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    border-radius: 0;
    &.ant-tabs-tab-active {
      background: #0babf2;
      border-color: #00b1ff;
    }
  }

  .alertCardRow {
    border-bottom: 1px solid #383e55;
    color: white;
    height: 40px;
    line-height: 40px;
  }
}

.factoryAreaYellow {
  width: 35px;
  height: 11px;
  border: 2px solid rgba(255, 216, 0, 1);
  background: #ffd800;
  display: inline-block;
  margin-right: 8px;
}

.lineGreen {
  width: 40px;
  height: 1px;
  border: 1px dashed #00ff66;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 4px;
}

.blockNormal {
  width: 15px;
  height: 8px;
  background: #00ffd0;
  display: inline-block;
  margin-right: 8px;
}

.redOver {
  width: 15px;
  height: 8px;
  background: #f90421;
  display: inline-block;
  margin-right: 8px;
}

.screenSetting {
  width: 400px;
  border: 1px solid #2e3b61;
  background: #102245;
  height: 420px;
  font-size: 14px;
  border-radius: 2px;
  color: $primary-white;
  right: 55px;
  top: 50px;
  transition: max-height 0.3s ease-out;

  .setting-box-header {
    height: 40px;
    line-height: 40px;
    background: url("/images/title.png") no-repeat;
  }

  .ant-tabs {
    color: #04b2f0;

    .ant-tabs-bar {
      border-bottom: 1px solid #04b2f0;
    }

    .ant-tabs-nav-scroll {
      text-align: left;
    }

    .ant-tabs-nav {
      font-weight: 400;

      .ant-tabs-tab {
        margin: 0;
        padding: 10px 16px;
      }

      .ant-tabs-tab-active {
        font-weight: 400;
      }

      .ant-tabs-ink-bar {
        background-color: #04f0c1;
        height: 1px;
      }
    }

    .ant-tabs-content {
      text-align: left;
    }
  }

  .ant-tree {
    .ant-tree-switcher {
      color: $primary-text-color;
    }

    .ant-tree-checkbox-inner {
      background-color: $screen-setting-background-color;
      border: 1px solid $primary-text-color-gray;
    }

    li .ant-tree-node-content-wrapper {
      color: $primary-text-color;
      font-weight: normal;

      &.ant-tree-node-selected,
      &:hover {
        background-color: #102245;
      }
    }

    .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
      background-color: $primary-text-color-gray;
      border: 1px solid $primary-text-color-gray;

      &::after {
        border: 2px solid $screen-setting-background-color;
        border-top: 0;
        border-left: 0;
      }
    }

    .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner {
      background-color: $primary-text-color-gray;
      border: 1px solid $primary-text-color-gray;

      &::after {
        background-color: #102245;
      }
    }
  }

  .ant-radio-group {
    padding: 0 20px;

    .ant-radio-wrapper {
      color: #88a8c5;
      font-weight: normal;
      margin: 4px 0;
      width: 50%;

      .ant-radio-inner {
        background-color: $screen-setting-background-color;
        border: 1px solid $primary-text-color-gray;

        &::after {
          background-color: $primary-text-color-gray;
        }
      }
    }
  }

  .ant-checkbox-group {
    .ant-checkbox-wrapper {
      display: block;
      color: #88a8c5;
      font-weight: normal;
      margin: 4px 0;

      .ant-checkbox-inner {
        @extend %screen-form-theme;

        &::after {
          border-color: $primary-text-color-gray;
        }
      }
    }
  }

  .ant-form-item {
    margin-bottom: 6px;
  }
  .ant-form-item-label {
    & > label {
      color: #04b2f0;
      font-weight: normal;
    }
  }
  .ant-input {
    background-color: #102245;
    color: $primary-white;
    border: 1px solid #2e3b61;
    border-radius: 2px;
    height: 28px;
  }
  .ant-upload {
    color: $primary-white;
    font-size: 12px;
    font-weight: normal;
  }
  .ant-upload.ant-upload-select-picture-card {
    width: 80px;
    height: 80px;
    background: #103266;
    border-radius: 0;
    border: 1px dashed #5195c3;
  }
  .ant-upload-list-picture-card .ant-upload-list-item-uploading-text {
    color: $primary-white;
    font-size: 12px;
    font-weight: normal;
  }
  .ant-upload-list-picture-card .ant-upload-list-item-progress {
    bottom: 24px;
    padding-left: 6px;
  }
  .ant-upload-list-picture-card-container {
    width: 80px;
    height: 80px;
  }
  .ant-upload-list-picture-card .ant-upload-list-item {
    width: 80px;
    height: 80px;
    border: 1px dashed #5195c3;
    border-radius: 0;
    background: #103266;
  }

  .setting-box-footer {
    .ant-btn-primary {
      background-color: $primary-text-color;
      color: $primary-white;
      border-color: $primary-text-color;
    }

    .ant-btn-default {
      background-color: $screen-setting-background-color;
      color: $primary-white;
      border-color: $primary-text-color;
    }
  }
}

/* 数据查询样式 */
.queryPage,
.reportPage,
.alertPage,
.comparisonPage,
.rankPage,
.replenishPage,
.managePage,
.auditPage,
.dataViewPage {
  .ant-table * {
    font-size: 12px !important;
  }
  .ant-form-item * {
    font-size: 12px !important;
  }
  .ant-divider {
    font-size: 12px !important;
  }
  .ant-pagination * {
    font-size: 12px !important;
  }
  .ant-tabs * {
    font-size: 12px !important;
  }
  .ant-descriptions * {
    font-size: 12px !important;
  }
  
}

.ant-select-dropdown-menu-item {
  font-size: 12px !important;
}

.ant-modal-body * {
  font-size: 12px !important;
}

.tableFloat {
  line-height: 20px;

  .tableFloatNumber {
    color: #04f9cc;
    text-align: right;
    display: inline-block;
    margin-left: 15px;
  }
}

.anchorBL {
  display: none;
}
