$primary-text-color: #04b2f0;
$screen-background: #061630;
$primary-button-text-dark: #1bb8a1;
$primary-text-dark: #17e5c5;
$screen-primary-text: #00D2FF;
$primary-white: #DBF6FF;
$screen-text-color-2: #55B7FE;
$screen-setting-background-color: #102245;
$primary-text-color-gray: #037FAB;
